@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SSW Medications Manager</h1>
    <p><img src="http://clipart-library.com/img/782851.jpg" width="500"/></p>
</div>
